.enhancement-controller {
	cursor: pointer;

	> .enhancementLauncher {
		white-space: normal;

		> button.enhancement-menu {
			background-color: transparent;
			border: none;
		}
	}
}

#enhanced-netflix {
	font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	h1, h2, h3 {
		display: inline-block;
		margin: 0;
		line-height: 1.2;
	}

	h3 { font-size: 1.75rem; }
	h3, h4 { font-weight: 600; }

	> div.dialog-bounds {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -999999;
	}

	.scrollable {
		> * { overflow: auto; }

		> ::-webkit-scrollbar {
			width: 10px;
		}

		> ::-webkit-scrollbar-track-piece {
			display: none;
		}
		
		> ::-webkit-scrollbar-track { display: none; }
		
		> ::-webkit-scrollbar-thumb {
			background: rgba(66, 66, 66, 0.5);
			border-radius: 5px;
		}
		
		> ::-webkit-scrollbar-thumb:hover {
			background: rgba(66, 66, 66, 0.9);
		}
	}
}